body {
    background-color: rgb(101, 0, 196);
    font: Normal 20pt Arial;
    text-align: left;
}

header {
   color: white;
   text-align: center;
}

section {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
}
div#res {
    margin-top: 20px;
}
p#dados {
    margin-bottom: -20px;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
}
